# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#project files #
.classpath
.project
.settings/*
.tern-project

# other files #
*.scc
*.bak
target/*
src/main/ui/WEB-INF/classes/*
/.idea/
.idea/
target/
__pycache__/
static/docs/build/
db.sqlite3
